<div class="backdrop">
	<col>
	<ul class="side-nav col-xs-2">Navigation
	  <li><a href="#/jobs/index">Profile</a></li>
	  <li><a href="#/jobs/index">My Orders</a></li>
	  <li><a href="#/jobs/new">New Order</a></li>
	</ul>
  <div id="main" class="container col-xs-8">
  </div>
</div>

<script>$(TR.initialize)</script>