<h3>
   Chat With Us
</h3>
<ul class="user-menu-list">
   <li>
       <h4>Input?<small class="coral"><strong>NEW</strong> <i class="fa fa-clock-o"></i> 7:42 A.M.</small></h4>
   </li>
   <li>
       <h4>Reviews? <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
   </li>
   <li>
       <h4>Suggestions? <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
   </li>
   <li>
       <button type="button" class="btn btn-labeled btn-danger" href="#">
           <span class="btn-label"><i class="fa fa-envelope-o"></i></span>Message us</button>
   </li>
</ul>
