        <div class="row">
            <div class="box">
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3><%= currentUser.escape('username') %></h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Machine Translation</h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Human Editing</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>        

<table class="table table-striped box" id="order">
	<thead>
		<tr>
			<th>Order Date</th>
			<th>Status</th>
			<th>Title</th>
			<th>Cost</th>
		</tr>
	</thead>
	<tbody>
		<% jobs.each( function(job) { %>
		<tr class="info">
			<td>7/28/14</td>
			<td><%= job.escape('status')%></td>
			<td><%= job.escape('title')%></td>
			<td><%= (job.escape('price') / 100.0).toFixed(2)%></td>
		</tr>
		<% }) %>


	</tbody>


</table>
