
<table class="table table-striped box" id="order">
	<thead>
		<tr>
			<th>Order Date</th>
			<th>Status</th>
			<th>Title</th>
			<th>Cost</th>
		</tr>
	</thead>
	
	<tbody>
		<% jobs.each(function(job) { %>
			<tr class="info">
				<td>7/28/14</td>
				<td>In Progress</td>
				<td><%= job.escape('title')%></td>
				<td><%= job.escape('price')%></td>
			</tr>
		<% }); %>
		
	</tbody>
	
</table>
