<div class="modal fade" id="submitModal">
  <div class="modal-dialog">
		    <div class="modal-content">
					<div class="modal-body">
		      <p class="contact-input">
						<h4>Thank you for your submission!</h4>
						<h5>You will receive an email notification when the job is done.</h5>
		      </p>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton">Close</button>

					</div>
				</div>
		   </div>
  </div><!-- /.modal-dialog -->
<!-- </div> -->