<div class="modal fade" id="bankModal">
  <div class="modal-dialog">
		    <div class="modal-content">
					<div class="modal-body">
		      <p class="contact-input">
						<h4>Successful Transaction!</h4>
		      </p>

		      <p class="modal-footer">
		        <button type="button" class="btn btn-default" id="closeButton">Close</button>

					</p>
				</div>
		   </div> 
  </div><!-- /.modal-dialog -->
</div>
