<div id="modalSpace"></div> 
<div id="modalSpace2"></div>

<div class="box">
<form class="form-horizontal box" id="translateForm">
  <fieldset>
    <legend>Make an Order</legend>
		
		<input type="hidden" name="job[price]" value="" id="job[price]">

    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="title" name="job[title]">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Paste</label>
      <div class="col-lg-10">
        <textarea class="source_text form-control" rows="10" id="textArea" name="job[source_text]" placeholder="Paste your text here. Don't worry about formatting, we'll take care of that."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Language Pair</label>
      <div class="col-lg-3">
				<label>Source Language:</label>
      <select class="form-control" name ="job[source_lang]" id="select">
        <option value='en'>English</option>
        <option value='es'>Spanish</option>
        <option value='fr'>French</option>
      </select>
        <br>
				<label>Target Language:</label>
        <select class="form-control" name ="job[target_lang]" id="select">
	        <option value='en'>English</option>
	        <option value='es'>Spanish</option>
	        <option value='fr'>French</option>
        </select>
      </div>
			
			<div class="col-lg-3" id="cost">
			</div>
    </div>
    <div class="form-group">
      <label for="email" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="email" name="job[email]" placeholder="Demo Users Only">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#modalSpace">Submit</button>			<span><strong><small>If you are using a demo account be sure to enter an email so that you receive your finished translation</small></strong></span>
      </div>
    </div>
  </fieldset>
	
	<div id="errors"></div>
</form>
</div>


