<div class="box">
	<h3>Translation Studio</h3>
	<ul>
		<li><p>Pick the pair of languages that you would like to translate between.</p></li>
		<li><p>Click submit. The original text will be to the left, and the machine translated version to the right.</p></li>
		<li><p>Edit the machine translated version and hit submit. There is a running counter of your earnings below the text.</p></li>
	</ul>
</div>


<form class="form-horizontal box" id='translate-form'>
<fieldset>
	
	<div class="form-group">

		<label for="choice_from" class="col-xs-1 control-label">From:</label>
			
		<div class="col-xs-3">
			<select class="form-control" id="choice_from" name="choice[from]">
	        <option value='en'>English</option>
	        <option value='es'>Spanish</option>
	        <option value='fr'>French</option>
			</select>
		</div>

		

		<label for="choice_to" class="col-xs-1 control-label">To:</label>
		<div class="col-xs-3">
			<select class="form-control" id="choice_to" name="choice[to]">
	        <option value='en'>English</option>
	        <option value='es'>Spanish</option>
	        <option value='fr'>French</option>
			</select>
		</div>
		
		<div class="col-xs-3 col-xs-offset-1">
			<button class="btn btn-default">Submit</button>
		</div>
	</div>
</fieldset>
</form>
<div id="modalSpace"></div> 

<div id="workspace"></div>