<div class="modal fade" id="submitModal">
  <div class="modal-dialog">
		    <div class="modal-content">
					<div class="modal-body">
		      <p class="contact-input">
						<h3>You finished all the tasks for this language pair.</h3>
						<h3>Check back later for more.</h3>
		      </p>

		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton">Close</button>

					</div>
				</div>
		   </div>
  </div><!-- /.modal-dialog -->
<!-- </div> -->