        <div class="row">
            <div class="box">
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Send us your file</h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Machine Translation</h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>Human Editing</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>        
				
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for customers</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="http://placehold.it/750x450" alt="">
                </div>
                <div class="col-md-6">
                    <p>We enable you and your business to communicate worldwide through accurate cost-effective translation.</p>
                    <p>30% of the cost of average translation.</p>
                    <p>Powered by google translate and our crowdscourcing community.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for translators</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="http://placehold.it/750x450" alt="">
                </div>
                <div class="col-md-6">
                    <p>Work when you want, where you want, on what you want.</p>
                    <p>Supplement income by translating whenever you have a free moment on the train, in the doctors office, or anywhere with a wifi connection for that matter.</p>
                    <p>Take advantage of machine translation, our customizable editing studio, and a wide variety of translation topics.</p>
										<p>Start earning right away. No red tape, certifications, or recommendations. For new translators, we will double check your work before the client sees it.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for both</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="http://placehold.it/750x450" alt="">
                </div>
                <div class="col-md-6">
                    <p>Every account automatically has customer and translator capabilities.</p>
                    <p>Polyglot? Use credit you earn doing translations to purchase translations into other languages.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>