        <div class="row">
            <div class="box">
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/translationdev/computer.png" alt="" height=250px width=250px>
                    <h3>Instant Machine Translation</h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/translationdev/Asym.png" alt="" height=250px width=250px>
                    <h3>Crowdsourced Human Editing</h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/translationdev/cloud2.png" alt="" height=250px width=250px>
                    <h3>Download Your File</h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>        
				
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for customers</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="https://s3-us-west-1.amazonaws.com/translationdev/person.png" alt="" height="200">
                </div>
                <div class="col-md-6">
                    <h1>We enable you and your business to <span class="blue-text">communicate worldwide</span> through accurate and<span class="red-text"> cost-effective<span> translation.</h1>
										<p>Average rate per word:<p><h4><span class="red-text" stye="size:40">$.10<span></h4>
										<p>Speakeasy rate per word:<p><h4><span class="blue-text" stye="size:40">$.02<span></h4>
										<p><strong>How we do it</strong></p>
										<ul>
											<li>Provide our translators with the best quality online translations</li>
											<li>Enable translators to work a few seconds or hours a day as it suits them</li>
											<li>Foster an enjoyable experience for customers and translators alike</li>
										</ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for customers</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <h1>Play with us</h1>
										<h2>
											<ul>
											<li><span class="blue-text">Quick and easy tasks</span> </li>
											<br>
											<li><span class="red-text">Supported by google translate</span></li>
											<br>
											<li><span class="blue-text">In browser editing studio</span></li>
											<br>
											<li><span class="red-text">Start earning right away</span></li>
											</ul>
										</h2>
										<br>
										<p><strong>How to get started</strong></p>
										<ul>
											<li>Go to the translate page and start working on tasks</li>
											<li>Head over to your bank account and withdraw the funds you earned or use them to purchase translations</li>
											<li>We screen for quality by double checking all submissions by new translators and randomly checking submissions by experienced translators. No annoying trial period or tough signup process.</li>
											<li>Everyone with wifi is eligible</li>
										</ul>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="https://s3-us-west-1.amazonaws.com/translationdev/translator.png" alt="" height="200">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
				
				
				<div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Speakeasy
                        <strong>for both</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="https://s3-us-west-1.amazonaws.com/translationdev/rocknroll.png" alt="" height="200">
                </div>
                <div class="col-md-6">
                    <h1>Calling All</h1><h4>glotologists, grammarians, philologists, linguists, polyglots, cryptographers, lexicographers, vocabularists, wordsmiths, philologians, lexicographists, decoders, dragomans, glossators, etc...</h4><h1>You are our favorites.</h1> 
										<h2>
											<ul>
											<li><span class="pink-text">Automatic registration as translator and customer</span> </li>
											<br>
											<li><span class="pink-text">Use earned money to purchase translations</span></li>
											<br>
											<li><span class="pink-text">Please give us your feedback</span></li>
											</ul>
										</h2>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>